{{- $headers := findRE "<h[1-4].*?>(.|\n])+?</h[1-4]>" .Content -}}
  {{- $has_headers := ge (len $headers) 1 -}}
  {{- if $has_headers -}}

  {{- $largest := 6 -}}
  {{- range $headers -}}
  {{- $headerLevel := index (findRE "[1-4]" . 1) 0 -}}
  {{- $headerLevel := len (seq $headerLevel) -}}
  {{- if lt $headerLevel $largest -}}
  {{- $largest = $headerLevel -}}
  {{- end -}}
  {{- end -}}

  {{- $firstHeaderLevel := len (seq (index (findRE "[1-4]" (index $headers 0) 1) 0)) -}}

  {{- $.Scratch.Set "bareul" slice -}}
  <details id="TableOfContents" class="px-4 mt-4 bg-gray-100 dark:bg-gray-700 rounded toc">
    <summary class="flex items-center font-bold py-2 px-4 cursor-pointer justify-between select-none text-black dark:text-white">
      <span>Table of contents</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <polyline points="6 9 12 15 18 9"></polyline>
     </svg>
    </summary>

    <ul class="mt-2 pb-4">
      {{- range seq (sub $firstHeaderLevel $largest) -}}
      <ul>
        {{- $.Scratch.Add "bareul" (sub (add $largest .) 1) -}}
        {{- end -}}
        {{- range $i, $header := $headers -}}
        {{- $headerLevel := index (findRE "[1-4]" . 1) 0 -}}
        {{- $headerLevel := len (seq $headerLevel) -}}

        {{/* get id="xyz" */}}
        {{ $id := index (findRE "(id=\"(.*?)\")" $header 9) 0 }}

        {{/* strip id="" to leave xyz (no way to get regex capturing groups in hugo :( */}}
        {{ $cleanedID := replace (replace $id "id=\"" "") "\"" "" }}
        {{- $header := replaceRE "<h[1-4].*?>((.|\n])+?)</h[1-4]>" "$1" $header -}}

          {{- if ne $i 0 -}}
          {{- $prevHeaderLevel := index (findRE "[1-4]" (index $headers (sub $i 1)) 1) 0 -}}
          {{- $prevHeaderLevel := len (seq $prevHeaderLevel) -}}
          {{- if gt $headerLevel $prevHeaderLevel -}}
          {{- range seq $prevHeaderLevel (sub $headerLevel 1) -}}
          <ul>
            {{/* the first should not be recorded */}}
            {{- if ne $prevHeaderLevel . -}}
            {{- $.Scratch.Add "bareul" . -}}
            {{- end -}}
            {{- end -}}
            {{- else -}}
            </li>
            {{- if lt $headerLevel $prevHeaderLevel -}}
            {{- range seq (sub $prevHeaderLevel 1) -1 $headerLevel -}}
            {{- if in ($.Scratch.Get "bareul") . -}}
          </ul>
          {{/* manually do pop item */}}
          {{- $tmp := $.Scratch.Get "bareul" -}}
          {{- $.Scratch.Delete "bareul" -}}
          {{- $.Scratch.Set "bareul" slice}}
          {{- range seq (sub (len $tmp) 1) -}}
          {{- $.Scratch.Add "bareul" (index $tmp (sub . 1)) -}}
          {{- end -}}
          {{- else -}}
      </ul>
      </li>
      {{- end -}}
      {{- end -}}
      {{- end -}}
      {{- end -}}
      <li>
        <a href="#{{- $cleanedID  -}}">{{- $header | safeHTML -}}</a>
        {{- else -}}
      <li>
        <a href="#{{- $cleanedID -}}">{{- $header | safeHTML -}}</a>
        {{- end -}}
        {{- end -}}
        <!-- {{- $firstHeaderLevel := len (seq (index (findRE "[1-4]" (index $headers 0) 1) 0)) -}} -->
        {{ $firstHeaderLevel := $largest }}
        {{- $lastHeaderLevel := len (seq (index (findRE "[1-4]" (index $headers (sub (len $headers) 1)) 1) 0)) -}}
      </li>
      {{- range seq (sub $lastHeaderLevel $firstHeaderLevel) -}}
      {{- if in ($.Scratch.Get "bareul") (add . $firstHeaderLevel) -}}
    </ul>
    {{- else -}}
    </ul>
    </li>
    {{- end -}}
    {{- end -}}
    </ul>
  </details>
  {{- end -}}
