<!DOCTYPE html>
<html>
<head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta name="robots" content="noindex">
    <meta charset="utf-8"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url={{ .Permalink }}"/>
    </noscript>
    <script>
      ;(function () {
        // Only do i18n at root, 
        // otherwise, redirect immediately
        if (window.location.pathname !== '/') {
          window.location.replace('{{ .Permalink }}')
          return
        }

          const getFirstBrowserLanguage = function () {
              let nav = window.navigator,
                  browserLanguagePropertyKeys = ['language', 'browserLanguage', 'systemLanguage', 'userLanguage'],
                  i,
                  language;

              if (Array.isArray(nav.languages)) {
                  for (i = 0; i < nav.languages.length; i++) {
                      language = nav.languages[i]
                      if (language && language.length) {
                          return language
                      }
                  }
              }

              // support for other well known properties in browsers
              for (i = 0; i < browserLanguagePropertyKeys.length; i++) {
                  language = nav[browserLanguagePropertyKeys[i]]
                  if (language && language.length) {
                      return language
                  }
              }
              return 'en'
          };

          const languages = {
              'en': '/en/',
              'nl': '/nl/',
              'eo': '/eo/'
          };

          // ensure protocol is https
        if (window.location.protocol !== "https:") {
            window.location.protocol = "https:"
        }

          const savedLanguage = localStorage.getItem('selectedlanguage');
          // if a language has been selected earlier
        if (savedLanguage) {
            // then reselect that language
            window.location.replace(languages[savedLanguage]);

        } else {
            // check the preferred browser language
            const preferLang = getFirstBrowserLanguage().slice(0, 2);
            const url = languages[preferLang];
            // if that language is available on the website then select it
            if (url) {
                window.location.replace(url);
            } else {
                // fallback to English
                window.location.replace(languages['en']);
            }
        }
      })()
    </script>
</head>
<body>
<h1>Rerouting</h1>
<p>You should be rerouted in a jiff, if not, <a href="{{ .Permalink }}">click here</a>.</p>
</body>
</html>

