{{ define "main" }}
  {{- partial "intro.html" . -}}
  {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
  <div class="container p-6 mx-auto">
    <h2 class="text-2xl font-bold mb-4">{{ i18n "latestPosts" }}</h2>
  </div>
  <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 lg:gap-8">
    {{ range first 10 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
      {{- partial "blog-card.html" . -}}
    {{ end }}
  </div>

  {{ if gt (len (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)) 10 }}
  <div class="text-center mb-8">
    <a class="px-8 py-3 rounded transition-colors {{ .Site.Params.ascentColor | default "bg-pink-50" }}
      text-gray-500 hover:text-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:text-white"
      href="{{ (index (.Site.Menus.main) 0).URL | absLangURL }}" lang="{{ .Lang }}">
      {{ i18n "morePosts" }}
    </a>
  </div>
  {{ end }}

  {{- partial "social.html" . -}}
{{ end }}
